<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Forum{% endblock %}</title>
    <!-- Include Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="container mt-4">
        <header class="mb-4">
            <h1>Discussion Forum</h1>
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer class="mt-4">
            <!-- Add footer content -->
            <hr>
            <h3 class="text-center">Developed by - Golam Kibria Papel</h3>
        </footer>
    </div>

    <!-- Include Bootstrap JS and Popper.js (required for Bootstrap JS) links -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
