<!-- forum_home.html -->
{% extends 'base.html' %}

{% block title %}Forum Home{% endblock %}

{% block styles %}
    <!-- Include any specific styles for the forum_home.html page -->
    <style>
        /* Add specific styles for the forum_home.html page */
        .reply-container {
            margin-left: 20px;
        }

        /* Adjust styles for the layout */
        .create-post-container {
            float: left;
            width: 30%;
            margin-right: 20px;
        }

        .topics-container {
            float: left;
            width: 60%;
        }

        /* Clear float to prevent layout issues */
        .clear {
            clear: both;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="create-post-container">
        <!-- Left side: Create Post section -->
        <h3>Create Post</h3>
        <form method="post" action="{% url 'forum:forum_home' %}" class="mb-3">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" name="title" required>
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea class="form-control" name="content" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="created_by">Your Name:</label>
                <input type="text" class="form-control" name="created_by" required>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Create Topic</button>
        </form>
    </div>

    <div class="topics-container">
        <!-- Right side: Topics and Replies -->
        <!-- Add a search form -->
        <div class="mt-0">
            <h3>Search Posts</h3>
            <form method="get" action="{% url 'forum:forum_home' %}">
                <div class="form-group">
                    <label for="search_query">Search:</label>
                    <input type="text" class="form-control" name="q" id="search_query" placeholder="Enter keywords">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Search</button>
            </form>
        </div>

        {% for topic in topics %}
            <div class="mt-4">
                <h3>{{ topic.title }}</h3>
                <span> <strong>{{ topic.created_by }}</strong> , {{ topic.created_at }}</span>
                <hr>
                <p>{{ topic.content }}</p>
               

                <!-- Form for replying to the current topic -->
                <form method="post" action="{% url 'forum:forum_home' %}" class="mb-3">
                    {% csrf_token %}
                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                    <!-- Include the parent reply ID as a hidden field -->
                    <input type="hidden" name="parent_reply_id" value="{% if parent_reply %}{{ parent_reply.id }}{% endif %}" />
                    <label for="content">Your Reply:</label>
                    <textarea class="form-control" name="content" rows="3"></textarea>
                    <label for="created_by">Your Name:</label>
                    <input type="text" class="form-control" name="created_by" required>
                    <button type="submit" class="btn btn-success mt-2">Post Reply</button>
                </form>

                <!-- Display existing replies for the current topic -->
                <ul class="list-unstyled">
                    {% for reply in topic.replies.all %}
                        {% if reply.parent_reply is null %}
                            {% include 'includes/reply.html' with reply=reply %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="clear"></div>
{% endblock %}

{% block scripts %}
    <!-- Include any specific scripts for the forum_home.html page -->
    <script>
        function showReplyForm(replyId) {
            var replyForm = document.getElementById('replyForm' + replyId);
            replyForm.style.display = 'block';

            // Create a new div for the reply content
            var replyContent = document.createElement('div');
            replyContent.setAttribute('id', 'newReplyContent' + replyId);
            replyContent.style.marginLeft = '20px'; // Adjust the indentation level as needed

            // Insert the new reply content after the reply button
            var replyButton = document.getElementById('replyButton' + replyId);
            replyButton.parentNode.insertBefore(replyContent, replyButton.nextSibling);
        }
    </script>
{% endblock %}
