<!-- forum/templates/forum/includes/reply.html -->
<li class="reply-container">
    <h6>{{ reply.content }}</h6>
    <p>Replied by: {{ reply.created_by }}, {{ reply.created_at }}</p>
    <!-- Add a reply button for nested replies -->
    <button id="replyButton{{ reply.id }}" onclick="showReplyForm({{ reply.id }})">Reply</button>

    <ul>
        {% for nested_reply in reply.replies.all %}
            {% if nested_reply.parent_reply == reply %}
                {% include 'includes/reply.html' with reply=nested_reply %}
            {% endif %}
        {% endfor %}
    </ul>

    <!-- Display nested replies using JavaScript and CSS -->
    <div id="replyForm{{ reply.id }}" style="display: none; margin-left: 20px;">
        <form method="post" action="{% url 'forum:forum_home' %}">
            {% csrf_token %}
            <input type="hidden" name="topic_id" value="{{ reply.topic.id }}">
            <input type="hidden" name="parent_reply_id" value="{{ reply.id }}">
            <p>Your Reply:</p>
            <textarea name="content" rows="3"></textarea>
            <p>Your Name:</p>
            <input type="text" name="created_by" required>
            <button type="submit">Post Reply</button>
        </form>

        <!-- Recursively render nested replies -->
    </div>
</li>
